.edit_warn{ padding:2em 0.6em 1.5em 0.6em;}
.editwarn_img img{ width: 1.1em;}
.edit_box{ background: #fff; margin: 0 0.6em; border-radius: 5px; border: 1px solid #efefef;}
.edit_left{ width: 4.2em;}
.edit_namebox{ padding: 7px 0.5em;border-bottom: 1px solid #efefef;}
.edit_telbox{ padding: 7px 0.5em;}
.marb05{ margin-bottom: 0.5em;}
.btn_box{ padding: 2.5em 1.5em;}
.main_btn{ background:#028bfd url(../../common/images/btn-bg.jpg) repeat-y; height: 2.8em; border-radius: 5px; color: #fff; background-size: 100% 100%;}

.bind_warn{ padding:1.5em 0.6em 0.4em 0.6em;}
.bindwarn_img img{ width: 1.1em;}